@charset "UTF-8";

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);

  --open-sans: 'Open Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  display: flex;
  background: var(--violet) url('../images/bg-desktop.svg') no-repeat left;
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin: auto;
}

.header-img img {
  width: 200px;
  margin-bottom: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-infos {
  max-width: 520px;
  padding: 40px 0 0 25px;
}

.main-infos .title {
  font-family: var(--poppins);
  font-size: 2.5em;
  font-weight: 600;
  color: var(--white);
  line-height: 1.3;
  margin-bottom: 20px;
}

.main-infos .paragraph {
  font-family: var(--open-sans);
  font-size: 1em;
  color: var(--white);
  line-height: 1.6;
  margin-bottom: 20px;
}

.main-infos .button-submit {
  display: block;
  font-family: var(--poppins);
  font-size: 1em;
  font-weight: 400;
  color: var(--violet);
  padding: .8em 3.5em;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.219);
  cursor: pointer;
  transition: all .3s;
}

.main-infos .button-submit:hover {
  background: var(--soft-magenta);
  color: var(--white);
}

.footer {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 89%);
  padding: 20px 0 0 0;
}

.footer p {
  font-family: var(--open-sans);
  font-size: .8em;
  font-weight: 400;
  text-align: left;
}

.footer a {
  display: inline-block;
  transition: all .3s;
}

.footer a:hover {
  color: var(--soft-magenta);
}

.footer .midia-social {
  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.footer .midia-social a {
  display: inline-block;
}

@media (max-width: 1150px) {
  .main-infos .title {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  .main-infos .paragraph {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .main-infos .button-submit {
    padding: .7em 3em;
  }
}

@media (max-width: 950px) {
  body {
    background-image: url('../images/bg-mobile.svg');
    background-position: center;
  }
  .header-img {
    margin-top: 30px;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .main-infos {
    padding: 0;
    margin: 0 auto 80px auto;
  }
  .main-img-bg img {
    margin-bottom: 50px;
  }
  .main-infos .title {
    line-height: 1.5;
    text-align: center;
  }
  .main-infos .paragraph {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .main-infos .button-submit {
    margin: 0 auto;
    padding: .7em 4em;
  }
  .footer {
    text-align: center;
    flex-direction: column;
    margin: 20px 0;
  }
  .footer p {
    text-align: center;
    padding-top: 20px;
    order: 2;
  }
  .footer .midia-social {
    margin: 0 auto;
    order: 1;
  }
}