.container-list-links {
  ul {
    a {
      display: block;
      font-weight: 700;
      padding: 15px 0;
      margin-bottom: 15px;
      background-color: $third-color;
      border-radius: 8px;
      transition: all .3s;
      &:hover {
        color: $third-color;
        background: $first-color;
      }
    }
    .last-link {
      margin-bottom: 0;
    }
  }
}